<mat-toolbar color="primary" class="mat-elevation-z12">
    <mat-toolbar-row>
      <span>Widok tabelaryczny</span>
    </mat-toolbar-row>
</mat-toolbar>

<div class="example-container mat-elevation-z8">

  <mat-table #table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="icon">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Idź do </mat-header-cell>
      <mat-cell *matCellDef="let element">
          <mat-icon routerLink="/detail/{{element.id}}">forward</mat-icon>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Tytuł </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Opis </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.description | truncate : 50 : "..."}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="isDone">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Wykonano ? </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.isDone}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="borderDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Data realizacji </mat-header-cell>
      <mat-cell *matCellDef="let element" [style.color]="getColor(element)"> {{element.borderDate | date:"dd MMMM yyyy HH:mm:ss"}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight': selectedRowIndex == row.id}" (click)="highlight(row)"></mat-row>

  </mat-table>
  <mat-paginator #paginator [length]="tasks.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
