.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  margin: 30px;
}

.highlight{
  background: rgb(154, 240, 159); /* green */
}

.mat-table {
  overflow: auto;
  max-height: 95%;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

.mat-column-icon {
  flex: 0 0 70px;
}
