.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%  !important;
  z-index: 2;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.24);
}

.rightPartOfMenu {
  position: absolute;
  top: 20px;
  right: 20px;
}

.title {
  min-width: 300px;
  max-width: 400px;
  color: #fff;
}

.sidenavMenu
{
  min-width: 300px;
  max-width: 400px;
}

.sidenavMenuTop
{
  color: #fff;
  position: fixed;
  top: 575;
  left: 0;
  right: 0;
}

.sidenavMenuBottom
{
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav {
  min-width: 250 px;
  background: #3f51b5;
}

.menuButton{
  position: relative;
  left: 20px;
}

.buttonBottom {
  margin-bottom: 30px;
}

.buttonTop {
  margin-top: 50px;
}

.sidenavContent {
    width: inherit;
    overflow: scroll;
    min-height: 100%;
    max-height: 100%;
}

.example-container {
  position: absolute;
  top: 63px;
  bottom: 0px;
  left: 0;
  right: 0;
}
