<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button routerLink="/">MyMaterial ToDoApp</button>
      <div class="rightPartOfMenu">
      <span matTooltip="Kliknij aby dodać nowe zadanie"  routerLink="/add">
        <button mat-button >
          <mat-icon >add</mat-icon>
          <span>Nowe zadanie</span>
        </button>
      </span>
      <span matTooltip="Kliknij aby zobaczyć widok tabeli"  routerLink="/table">
        <button mat-button >
          <mat-icon >table</mat-icon>
          <span>Tabela</span>
        </button>
      </span>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
