<mat-toolbar color="primary" class="mat-elevation-z12">
    <mat-toolbar-row>
      <span>Dodaj nowe zadanie</span>
    </mat-toolbar-row>
</mat-toolbar>

<div class="mainPanel">
  <app-task-details-component [task]="newTask"></app-task-details-component>
  <div class="buttonsPanel">
    <button mat-raised-button color="primary" (click)="addTask()">
      <mat-icon>add</mat-icon>
      <span>Dodaj</span>
    </button>
    <button mat-raised-button color="warn" routerLink="/">
      <mat-icon>cancel</mat-icon>
      <span>Anuluj</span>
    </button>
  </div>
</div>
